doctype html
html(lang="en")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Source+Code+Pro:400,500&subset=latin,latin-ext' type='text/css')
    script(src='/js/jquery.js')
    block header
  body
    .content
      block content