extends layouts/main

block header
  script(src='/js/gameformat.js')

block content
  #status
    #leftStatus
    #middleStatus
      h1 #{appname}
      h2 v#{version} - #{versionName}
    #rightStatus
  #box
    #left
    #world(style='text-align: center')
      h1(style='padding-top: 100px') Error 404
      h2 Whoops! I can't seem to find the page that you're looking for...
      p Why not <a href='/'>head back home</a>?
    #right
  #console