extends layouts/main

block header
  link(rel='stylesheet', href='/stylesheets/style.css')
  
block content
  #body
    p
    | this is the start of the para 
    a(href="http://example.com") a link
    |  this is he rest of the paragraph    