extends layouts/main

block header
  script(src='/socket.io/socket.io.js')
  script(src='/js/gameformat.js')
  
  script(src='/js/console.js')
  script(src='/js/world.js')
  script(src='/js/gameclient.js')

block content
  #status
    #leftStatus
      | [<span style='color: red'>=========</span><span style='color: black'>--------</span>] (60/100)
      | <br>
      | [<span style='color: blue'>=================</span>] (100/100)
    #middleStatus
      h1 #{appname}
      h2 v#{version} - #{versionName}
    #rightStatus
      p Location: Somewhere
  #box
    #left
    #world
    #right
  #console
    ul#messages
    form(action='')#consoleform
      input#field(autocomplete='off')
      input(type='submit' value='Send')#send