extends layouts/main

block header
  script(src='/socket.io/socket.io.js')
  
  script(src='/js/gameformat.js')
  script(src='/js/console.js')
  script(src='/js/world.js')
  script(src='/js/gameclient.js')

block content
  #char-span x
  #content
    #left
      #world
        //stuff in the world
      #console
        ul#messages
        form(action='')#consoleform
          input#field(autocomplete='off')
          input#send(type='submit' value='Send')
    #sidebar
      #top
        #stats
          | [<span style='color: red'>=========</span><span style='color: black'>--------</span>] (60/100)
          | <br>
          | [<span style='color: blue'>=================</span>] (100/100)
        #info
          | Location: Somewhere
      #bottom
        #version
          h1 #{appname}
          h2 v#{version} - #{versionName}
        