body
  margin: 0
  padding: 50px
  background-color: black
  font-family: Consolas, monospace

#status
  padding: 0
  margin: auto
  width: 600px
  min-width: 600px
  background-color: white
  height: 60px

boxHeight = 480px
#box
  padding: 0
  margin: auto
  width: 600px
  min-width: 600px
  height: boxHeight

#left
  width: 60px
  float: left
  background-color: red
  height: 100%

#right
  width: 60px
  float: left
  background-color: red
  height: 100%

#world
  width: 480px
  float: left
  background-color: blue
  height: 100%

#console
  margin: auto
  width: 600px
  min-width: 600px
  background-color: white
  height: 150px