//vars
borderColor = #808080
sidebarColor = #101010
barColor = #080808
textSize = 26px

//style

body
  background-color: #202020
  font-family: menlo, monospace
  color: white

h1
  font-size: 20px

h2
  font-size: 14px

h3
  font-size: 26px

#content
  padding: 60px

#char-span
  display: block
  float: left
  font-size: textSize

/*
 * EVERYTHING WORLD RELATED
 */
#world
  position: absolute
  top: 0
  right: 20% 
  bottom: 20% 
  left: 0
  background: sidebarColor
  border-bottom: solid
  border-width: 1px
  border-color: borderColor
  font-size: textSize

/*
 * EVERYTHING CONSOLE RELATED
 */
#console
  background-color: #202020
  position: absolute
  top: 80%
  right: 20% 
  bottom: 0 
  left: 0

#messages
  position: absolute
  top: 0
  left: 0
  right: 0
  padding-left: 20px
  list-style-type: none
  overflow-y: scroll
  & li
    padding: 0 2px
    &:nth-child(even)
      background: #101010

/**
 *no formatting on consoleform right now, 
 *but in the furture it might be needed
 */
//#consoleform

#field
  border: dotted
  border-width: 1px
  border-color: borderColor
  padding: 3px
  margin: 0
  width: 89%
  background: #202020
  color: white
  margin-left: 1px
  position: absolute
  bottom: 0

#send
  width: 8%
  background: #444444
  border: none
  margin: 0
  padding: 4px
  margin-left: -8px
  position: absolute
  right: 0
  bottom: 0

/*
 * EVERYTHING SIDEBAR RELATED
 */

#sidebar
  position: absolute
  top: 0
  right: 0 
  bottom: 0 
  left: 80%
  background: sidebarColor
  background-color: #202020
  border-left: solid
  border-width: 1px
  border-color: borderColor

#stats
  position: relative
  padding-left: 10px

#info
  position: relative
  padding-left: 10px

#version
  position: absolute
  right: 0 
  bottom: 0 
  left: 0
  text-align: center