* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #202020;
  font-family: menlo, monospace;
  color: #fff;
  margin: 20px;
}
h1 {
  font-size: 20px;
}
h2 {
  font-size: 14px;
}
h3 {
  font-size: 26px;
}
#left {
  float: left;
  width: 75%;
  width: calc(100% - 321px);
}
#char-span {
  display: block;
  position: absolute;
  top: -100px;
  left: -100px;
  font-size: 26px;
  line-height: 1em;
}
/*
 * EVERYTHING WORLD RELATED
 */
#world {
  background: #101010;
  border: solid;
  border-width: 1px;
  border-color: #808080;
  font-size: 26px;
  line-height: 1em;
  height: 700px;
  overflow: hidden;
}
/*
 * EVERYTHING CONSOLE RELATED
 */
#console {
  background-color: #202020;
  height: 175px;
  max-height: 25%;
  width: 100%;
  padding: 0;
  margin: 0;
  border-right: solid;
  border-bottom: solid;
  border-left: solid;
  border-width: 1px;
  border-color: #808080;
}
#messages {
  height: 85%;
  height: calc(100% - 24px);
  list-style-type: none;
  overflow-y: scroll;
}
#messages li {
  padding: 0 2px;
}
#messages li:nth-child(even) {
  background: #101010;
}
#field {
  border: dotted;
  border-width: 1px;
  border-color: #808080;
  padding: 3px;
  margin: 0;
  width: 90%;
  width: calc(100% - 93px);
  height: 15px;
  background: #202020;
  color: #fff;
  margin-left: 1px;
}
#send {
  width: 75px;
  background: #444;
  border: none;
  margin: 0;
  padding: 4px;
}
/*
 * EVERYTHING SIDEBAR RELATED
 */
#sidebar {
  float: left;
  width: 20%;
  width: calc(300px);
  max-width: 35%;
  background: #101010;
  background-color: #202020;
  border-right: solid;
  border-bottom: solid;
  border-top: solid;
  border-width: 1px;
  border-color: #808080;
  text-align: center;
  padding: 10px;
}
#version {
  text-align: center;
}
